<a href="https://colab.research.google.com/github/devkakeri06/DAL_practicals/blob/main/DAL_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('STI_data.csv')
print(df)
print(df.head())
print(df.tail())

     Episode             Company   ... Amount per Shark   Equity per Shark
0          1  BluePine Industries  ...              25.0          5.333333
1          1        Booz scooters  ...              20.0         25.000000
2          1  Heart up my Sleeves  ...              12.5         15.000000
3          2           Tagz Foods  ...              70.0          2.750000
4          2       Head and Heart  ...               0.0          0.000000
..       ...                  ...  ...               ...               ...
116       35         Elcare India  ...               0.0          0.000000
117       36             SneaKare  ...               7.0          4.000000
118       36         French Crown  ...               0.0          0.000000
119       36       Store My Goods  ...              25.0          2.000000
120       36             Devnagri  ...               0.0          0.000000

[121 rows x 32 columns]
   Episode             Company   ... Amount per Shark   Equity per Shark
0        1  BluePine Industries  ...              25.0          5.333333
1        1        Booz scooters  ...              20.0         25.000000
2        1  Heart up my Sleeves  ...              12.5         15.000000
3        2           Tagz Foods  ...              70.0          2.750000
4        2       Head and Heart  ...               0.0          0.000000

[5 rows x 32 columns]
     Episode        Company   ... Amount per Shark   Equity per Shark
116       35    Elcare India  ...               0.0               0.0
117       36        SneaKare  ...               7.0               4.0
118       36    French Crown  ...               0.0               0.0
119       36  Store My Goods  ...              25.0               2.0
120       36        Devnagri  ...               0.0               0.0

[5 rows x 32 columns]

In [3]:
data = {'Name':['Dev','Adi','Ansh'], 'Age':[22,21,21],'Education':['MTech','BTech','MSc']}
df = pd.DataFrame(data)
print(df)
print(df[['Name','Education']])

   Name  Age Education
0   Dev   22     MTech
1   Adi   21     BTech
2  Ansh   21       MSc
   Name Education
0   Dev     MTech
1   Adi     BTech
2  Ansh       MSc

In [4]:
data = pd.read_csv('STI_data.csv')
row2 = data.iloc[3]
print(row2)

Episode                                         2
Company                                Tagz Foods
Idea                         Healthy Potato Chips
Deal                                            1
Receive_Offer                                   1
Reject_Offer                                  0.0
Number of presenters                            2
No of male presenters                           2
No of female presenters                         0
Ask_Amount (INR Lakhs)                       70.0
Ask_Equity                                    1.0
Ask_Valuation (INR Lakhs)                  7000.0
Deal_Amount (INR Lakhs)                      70.0
Deal_Equity                                  2.75
Deal_Valuation                            2545.45
AshneerGrover_present                           1
AnupamMittal_present                            1
AmanGupta_present                               1
NamitaThapar_present                            1
VineetaSingh_present                            1
PeyushBansal_present                            0
GhazalAlagh_present                             0
AshneerGrover_deal                              1
AnupamMittal_deal                               0
AmanGupta_deal                                  0
NamitaThapar_deal                               0
VineetaSingh_deal                               0
PeyushBansal_deal                               0
GhazalAlagh_deal                                0
Number of Sharks invested                       1
Amount per Shark                             70.0
Equity per Shark                             2.75
Name: 3, dtype: object